# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
